{% extends "base.html" %}

{% block header %}
    <div>
        <a href="{{ url_for('ui_bp.index') }}" class="btn btn-secondary" style="margin-right: 25px;">
            Back
        </a>
    </div>
{% endblock %}

{% block header_title %}
    <div style="position: absolute; left: 50%; transform: translateX(-50%); margin-top: 15px;">
        <h4 class="text-secondary font-weight-bold">Permission Management</h4>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('groups_bp.add_group') }}" method="POST" class="mb-4">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="input-group">
                <input type="text" name="group_name" class="form-control" required placeholder="Enter Group Name">
                <button class="btn btn-success" type="submit">Add New Group</button>
            </div>
        </form>

        <form id="rightsForm" action="{{ url_for('groups_bp.save') }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Permissions / Groups</th>
                        {% for group in groups %}
                            <th>
                                {{ group.NAME }}
                                {% if group.ID != 'f4b8b5af-a414-466f-aad9-184e7e386425' %}
                                    <div style="display:inline;">
                                        <button type="button" class="btn btn-sm btn-outline-danger ms-2" title="Delete Group" onclick="deleteGroup('{{ url_for('groups_bp.delete_group', group_id=group.ID) }}');">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set rights_set = namespace(items=[]) %}
                    {% for group in groups %}
                        {% for key in group.keys() %}
                            {% if key not in ['ID', 'NAME'] and key not in rights_set.items %}
                                {% do rights_set.items.append(key) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% set filtered_rights = rights_set.items | sort %}

                    {% set grouped_rights = {} %}
                    {% for right in filtered_rights %}
                        {% set package = right.split('.')[0] %}
                        {% if package not in grouped_rights %}
                            {% set _ = grouped_rights.update({package: []}) %}
                        {% endif %}
                        {% set _ = grouped_rights[package].append(right) %}
                    {% endfor %}

                    {% for package, rights in grouped_rights.items() %}
                        <tr class="table-secondary">
                            <td colspan="{{ groups | length + 1 }}"><strong>{% if package in texts %} {{ texts[package] }} {% else %} {{ package }} {% endif %}</strong></td>
                        </tr>
                        {% for right in rights %}
                            <tr>
                                <th>{% if right in texts %} {{ texts[right] }} {% else %} {{ right }} {% endif %}</th>
                                {% for group in groups %}
                                    <td class="checkbox-cell">
                                        <input type="checkbox"
                                           name="right={{ group.ID }}§{{ right }}"
                                           {% if group.get(right) %}checked{% endif %}>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }
        th, td {
            text-align: center;
            vertical-align: middle;
        }
    </style>

    <script>
        function deleteGroup(url_g) {
            if (confirm("Are you sure you want to delete this group?")) {
                const csrfToken = "{{ csrf_token() }}";

                fetch(url_g, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken
                    }
                }).then(() => location.reload());
            }
        }
    </script>
{% endblock %}
