{% extends "base.html" %}

{% block header %}
    <div>
        <a href="{{ url_for('client_bp.index') }}" class="btn idx-btn btn-outline-secondary" style="font-weight: 600; margin-right: 25px;">
            <i class="bi bi-arrow-left-circle me-1"></i>Back
        </a>
    </div>
{% endblock %}

{% block header_title %}
    <div style="position: absolute; left: 50%; transform: translateX(-50%); margin-top: 15px;">
        <h4 class="text-secondary font-weight-bold">Client Setup - {{ client.NAME }}</h4>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <p class="text-muted">Follow the instructions below to install and connect the Winget-Repo client to your repository!<br>
            {% if authentication == '1' %}
                <b>Client-Authentication: <j style="color: green;">Enabled</j></b>
            {% else %}
                <b>Client-Authentication: <j style="color: Tomato;">Disabled</j></b>
            {% endif %}
        </p>

        <div class="mb-4">
            <form action="{{ url_for('client_bp.setup_client', client_id=client.UID) }}" method="POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <button class="btn btn-success">
                    <i class="bi bi-download"></i> Download Configuration File
                </button>
            </form>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Setup Instructions</h5>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">
                        Download the configuration file above if you plan to use the Winget-Repo Client.
                    </li>
                    <li class="list-group-item">
                        Download and install the <a href="https://github.com/dev-fYnn/Winget-Repo-Client/releases">Winget-Repo Client</a> on your system.
                    </li>
                    <li class="list-group-item">
                        Launch the Winget-Repo Client with administrator privileges, open the <strong>Settings</strong> page, and click <strong>Import config.ini</strong> to import the configuration file.
                    </li>
                    <li class="list-group-item">
                        Add Winget-Repo as a Winget source on your system. Make sure to run the command as the same user who will use the client. <strong>Administrator privileges are required.</strong>
                        <br><code>winget source add -n Winget-Repo -t "Microsoft.Rest" -a https://{{ host_url }}/api/ {% if authentication == '1' %}--header "{{ '{' }}'Token': '{{ client.TOKEN }}'{{ '}' }}"{% endif %}</code>
                    </li>
                    <li class="list-group-item">
                        Launch the client and enjoy using Winget-Repo!
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
