{% extends "base.html" %}

{% block header %}
    <div>
        <a href="{{ url_for('ui_bp.index') }}" class="btn btn-secondary" style="margin-right: 25px;">
            Back
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h4>Manage Package Versions</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center mb-4">{{ Package_Name }}</h4>

                        {% if versions | length > 0 %}
                            <form method="POST" action="{{ url_for('ui_bp.delete_package_version', package_id=package_id) }}" onsubmit="sure();">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Version</th>
                                            <th class="text-center">Locale</th>
                                            <th class="text-center d-none d-md-table-cell">Architecture</th>
                                            <th class="text-center d-none d-lg-table-cell">Scope</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center d-none d-lg-table-cell">Nested</th>
                                            <th class="text-center">Switches</th>
                                            <th class="text-center d-none d-lg-table-cell">Download</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for v in versions %}
                                            <tr>
                                                <td class="text-center">{{ v['VERSION'] }}</td>
                                                <td class="text-center">{{ v['LOCALE'] }}</td>
                                                <td class="text-center d-none d-md-table-cell">{{ v['ARCHITECTURE'] }}</td>
                                                <td class="text-center d-none d-lg-table-cell">{{ v['INSTALLER_SCOPE'] }}</td>
                                                <td class="text-center">{{ v['INSTALLER_TYPE'] }}</td>
                                                <td class="text-center d-none d-lg-table-cell">{{ v['INSTALLER_NESTED_TYPE'] }}</td>
                                                <td class="text-center">
                                                    {% if v['SWITCHES'] | length > 0 %}
                                                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_{{ v['UID'] }}">Show</button>
                                                    {% else %}
                                                        Not found!
                                                    {% endif %}
                                                </td>
                                                <td class="text-center d-none d-lg-table-cell">
                                                    <a href="{{ url_for('winget_routes.download', package_name=v['INSTALLER_URL']) }}" class="btn btn-sm btn-secondary" download>
                                                        <i class="bi bi-download"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center checkbox-cell"><input type="checkbox" name="version_select" value="{{ v['UID'] }}"></td>
                                            </tr>
                                            {% if v['SWITCHES'] | length > 0 %}
                                                <div class="modal fade" id="modal_{{ v['UID'] }}" tabindex="-1" aria-labelledby="modalLabel_{{ v['UID'] }}" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="modalLabel_{{ v['UID'] }}">Switches for Version: {{ v['VERSION'] }}</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {% for name, state in v['SWITCHES'].items() %}
                                                                    <div class="form-check form-switch">
                                                                        <label class="form-check-label"><b>{{ name }}:</b> {{ state }}</label>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="modal-footer"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-danger">Delete Versions</button>
                                </div>
                            </form>
                        {% else %}
                            <h5 class="text-center text-secondary mb-4">No versions found!</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function sure(){
            const isConfirmed = confirm("Are you sure you want to continue?");

            if (!isConfirmed) {
                event.preventDefault();
            }
        }
    </script>
{% endblock %}

