{% extends "base.html" %}

{% block header %}
    <div>
        <a href="{{ url_for('ui_bp.index') }}" class="btn btn-secondary" style="margin-right: 25px;">
            Back
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header d-flex align-items-center justify-content-center position-relative">
                        <div class="position-absolute start-0 ms-3 d-flex align-items-center">
                            <img src="{{ url_for('static', filename='images/Logos/' + logo) }}" alt="Package Logo" class="package-logo">
                        </div>
                        <h4 class="mb-0 mx-auto">Edit Package</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('ui_bp.edit_package', package_id=package_id) }}" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <div class="mb-3">
                                <label for="package_name" class="form-label">Package Name</label>
                                <input type="text" class="form-control" id="package_name" name="package_name" placeholder="Package name"  value="{{ name }}" maxlength="25" required>
                            </div>
                            <div class="mb-3">
                                <label for="package_publisher" class="form-label">Publisher</label>
                                <input type="text" class="form-control" id="package_publisher" name="package_publisher" placeholder="Publisher" value="{{ publisher }}" maxlength="25" required>
                            </div>
                            <div class="mb-3">
                                <label for="package_description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="package_description" name="package_description" placeholder="Description" value="{{ description }}" maxlength="150" required>
                            </div>
                            <div class="mb-3">
                                <label for="file" class="form-label">Package Logo</label>
                                <input type="file" class="form-control" id="file" name="Logo" accept="image/png">
                            </div>
                            <div class="mb-3">
                                <button type="button"
                                        onclick="switch_btn(this);"
                                        class="btn {{ 'btn-success' if active else 'btn-danger' }}"
                                        data-active="{{ 'true' if active else 'false' }}">
                                    <i class="bi {{ 'bi-check-circle' if active else 'bi-x-circle' }}"></i>
                                    {{ 'Enabled' if active else 'Disabled' }}
                                </button>
                                <input type="hidden" name="package_active" id="package_active" value="{{ '1' if active else '0' }}">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Save Package</button>
                            </div>
                        </form>
                        <form method="POST" action="{{ url_for('ui_bp.delete_package', package_id=package_id) }}" style="margin-top: 5px;" onsubmit="sure();">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-outline-danger">Delete Package</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .package-logo {
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 6px;
        }

        .card-header {
            height: 50px;
        }
    </style>
    <script>
        function sure(){
            const isConfirmed = confirm("Are you sure you want to continue?");

            if (!isConfirmed) {
                event.preventDefault();
            }
        }

        function switch_btn(btn) {
            const isActive = btn.getAttribute('data-active') === 'true';
            const hiddenInput = document.getElementById("package_active");

            if (isActive) {
                btn.classList.remove("btn-success");
                btn.classList.add("btn-danger");
                btn.setAttribute("data-active", "false");
                btn.innerHTML = '<i class="bi bi-x-circle"></i> Disabled';
                hiddenInput.value = "0";
            } else {
                btn.classList.remove("btn-danger");
                btn.classList.add("btn-success");
                btn.setAttribute("data-active", "true");
                btn.innerHTML = '<i class="bi bi-check-circle"></i> Enabled';
                hiddenInput.value = "1";
            }
        }
    </script>
{% endblock %}

