{% extends "base.html" %}

{% block header %}
<div class="d-flex align-items-center justify-content-between" style="margin-right: 10px;">
    <!-- Text zentrieren -->
    <h6 class="text-center text-secondary mb-0 flex-grow-1" style="margin-right: 30px;">{{ username }}</h6>

    <!-- Dropdown-Menü für Einstellungen -->
    {% if user_mng_btn %}
        <div class="dropdown me-2">
            <button class="btn btn-light dropdown-toggle" type="button" id="settingsButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </button>

            <!-- Dropdown Menü, links ausgerichtet -->
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="settingsButton">
                {% if client_mng_btn %}
                    <li><a class="dropdown-item" href="{{ url_for('client_bp.index') }}">Manage Clients</a></li>
                {% endif %}

                {% if user_mng_btn %}
                    <li><a class="dropdown-item" href="{{ url_for('user_bp.index') }}">Manage User</a></li>
                {% endif %}

                {% if group_mng_btn %}
                    <li><a class="dropdown-item" href="{{ url_for('groups_bp.index') }}">Manage Permissions</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <!-- Logout-Button -->
    <a href="{{ url_for('login_bp.logout') }}" class="btn btn-danger">
        Logout
    </a>
</div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <!-- Add Package Box -->
        <div class="col-md-5 d-flex">
            <div class="card shadow-lg border-0 rounded-lg w-100 d-flex flex-column">
                <div class="card-body p-4 text-center flex-grow-1 d-flex flex-column">
                    <h3 class="card-title text-primary mb-3">Manage Packages</h3>
                    <div class="d-flex flex-grow-1">
                        <!-- Linke Hälfte: Dropdown Auswahl -->
                        <div class="flex-fill">
                            <form method="POST" action="{{ url_for('ui_bp.index') }}">
                                <div class="form-group">
                                    <label for="selected_package_edit" class="h5 font-weight-bold">Choose a Package</label>
                                    <select name="selected_package_edit" id="selected_package_edit" class="form-control form-control-lg" required>
                                        {% for p in packages %}
                                            <option value="{{ p['id'] }}">{{ p['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if packages|length > 0 %}
                                    <button type="submit" class="btn btn-outline-primary btn-lg mt-3 px-4 py-2 shadow-sm">Edit Package</button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-primary btn-lg mt-3 px-4 py-2 shadow-sm" disabled>Edit Package</button>
                                {% endif %}
                            </form>
                        </div>

                        <!-- Rechte Hälfte: Button -->
                        <div class="flex-fill d-flex align-items-center justify-content-center">
                            <form method="GET" action="{{ url_for('ui_bp.add_package') }}">
                                <button type="submit" class="btn btn-primary btn-lg mt-3 px-4 py-2 shadow-sm">Add New Package</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Select Package Box -->
        <div class="col-md-5 d-flex">
            <div class="card shadow-lg border-0 rounded-lg w-100 d-flex flex-column">
                <div class="card-body p-4 text-center flex-grow-1 d-flex flex-column">
                    <h3 class="card-title text-success mb-3">Manage Package Versions</h3>
                    <div class="d-flex flex-grow-1">
                        <!-- Linke Hälfte: Dropdown Auswahl -->
                        <div class="flex-fill">
                            <form method="POST" action="{{ url_for('ui_bp.index') }}">
                                <div class="form-group">
                                    <label for="selected_package1" class="h5 font-weight-bold">Choose a Package</label>
                                    <select name="selected_package" id="selected_package1" class="form-control form-control-lg" required>
                                        {% for p in packages %}
                                            <option value="{{ p['id'] }}">{{ p['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if packages|length > 0 %}
                                    <button type="submit" class="btn btn-outline-success btn-lg mt-3 px-4 py-2 shadow-sm">Open Package Versions</button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-success btn-lg mt-3 px-4 py-2 shadow-sm" disabled>Open Package Versions</button>
                                {% endif %}
                            </form>
                        </div>

                        <!-- Rechte Hälfte: Button -->
                        <div class="flex-fill d-flex align-items-center justify-content-center">
                            <form method="GET" action="{{ url_for('ui_bp.add_package_version') }}">
                                {% if packages|length > 0 %}
                                    <button type="submit" class="btn btn-success btn-lg mt-3 px-4 py-2 shadow-sm">Add New Package Version</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success btn-lg mt-3 px-4 py-2 shadow-sm" disabled>Add New Package Version</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const settingsButton = document.getElementById('settingsButton');
        const dropdownMenu = document.getElementById('dropdownMenu');

        settingsButton.addEventListener('click', function() {
            if (!settingsButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.style.display = 'none';
            }
        });
    </script>
{% endblock %}

