{% extends "base.html" %}

{% block header %}
    <div>
        <a href="{{ url_for('ui_bp.index') }}" class="btn btn-secondary" style="margin-right: 25px;">
            Back
        </a>
    </div>
{% endblock %}

{% block header_title %}
    <div style="position: absolute; left: 50%; transform: translateX(-50%); margin-top: 15px;">
        <h4 class="text-secondary font-weight-bold">Server Settings</h4>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('settings_bp.index') }}" method="POST">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th style="width: 30%;">Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                        <tr>
                            <td>{% if setting in texts %} {{ texts[setting] }} {% else %} {{ setting }} {% endif %}</td>
                            <td>
                                {% if settings[setting]['TYPE'] == "CHECKBOX" %}
                                    <div class="form-check d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="setting_{{ setting }}" value="1"
                                               {% if settings[setting]['VALUE']|int == 1 %}checked{% endif %}>

                                        {% if setting == "TOS" %}
                                            <a href="{{ url_for('settings_bp.terms') }}" class="btn btn-sm btn-outline-primary">Edit</a>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <input type="text" name="setting_{{ setting }}" value="{{ settings[setting]['VALUE'] }}" class="form-control">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <style>
        th, td {
            vertical-align: middle;
        }
    </style>
{% endblock %}
