<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ app_name }}</title>
        <link href="{{ url_for('static', filename='css/Bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/Bootstrap/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/alert.css') }}" rel="stylesheet">
        {% block custom_links %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <header class="d-flex align-items-center justify-content-between py-3 mb-4 border-bottom" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; background-color: white;">
                <div class="d-flex align-items-center">
                    <a href="{{ url_for('ui_bp.index') }}" class="text-decoration-none" style="color: inherit;">
                        <h1 class="font-weight-bold" style="margin-left: 15px;">
                            <img src="{{ app_logo }}" style="width: auto; height: 45px;"> <span class="d-none d-md-inline">{{ app_name }}</span>
                        </h1>
                    </a>
                </div>
                {% block header_title %}{% endblock %}
                {% block header %}{% endblock %}
            </header>
            <div style="margin-top: 80px;">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="alert-container" id="alertContainer">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }} alert-dismissible fade show" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/Bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <script>
        function button_Loading(btn_id) {
            document.getElementById(btn_id).disabled = true;
            document.getElementById(btn_id).innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
        }
    </script>
</html>